.product-price {
  font-weight: bold;
  font-size: larger;
  color: var(--primary-color);
}

.product-price::before {
  content: '$';
}

.product-by {
  opacity: 0.5;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
