*, :after, :before {
    box-sizing: border-box;
}

*:focus {
    outline: none;
    box-shadow: none;
}

:root {
    --input-color: #99A3BA;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;
  
    --input-border-focus: #275EFE;
  
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;
  
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678EFE;
  
    --primary-color: #3bb77e;
    --secondary-color: tomato;
    --color-blueviolet: blueviolet;
  }